@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Baloo|Baloo+Paaji|Montserrat|Raleway|Bowlby+One|Candal|Days+One|Erica+One|Fredericka+the+Great|Gravitas+One|Lalezar|Lilita+One|Limelight|Londrina+Shadow|Londrina+Solid|Mouse+Memoirs|Oleo+Script+Swash+Caps|Pattaya|Rammetto+One|Ranchers|Sancreek|Tenor+Sans|Zilla+Slab+Highlight');


html {
  padding: 0;
  height: 100%;
}
body {
  position: absolute;
  background-color: #935e3c;
  margin: 0;
  height: 100%;
  width: 100%;
}

.box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

#logoContainer {
  position: absolute;
  height: 300px;
  width: 100%;
  top: -60px;
  z-index: 6;
}

#logoContainer > div {
  height: 300px;
  width: 300px;
  float: right;
}

#logoContainer > div > img {
  height: 300px;
  width: 300px;
}

.heroBackDrop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#blinker {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  /*top: .37pt;*/
}

#licker {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 3;
}



#filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #51220e;
  opacity: .5;
  z-index: 5;
}

.header {
  height: 200px;
  width: 100%;
  text-align: center;
  z-index: 6;
}
/*
candal, days one, londrina shadow, londrina solid,
baloo, baloo paaji, bowlby one, rammetto one, tenor sans,
*/
#head {
  font: 54px raleway, montserrat, candal, tenor sans, londrina solid, londrina shadow, days one;
  color: #babab8;
  opacity: 1;
  font-weight: 900;
  opacity: 0;
}

.show {
  animation: fadeIn 4s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
