@import 'https://fonts.googleapis.com/css?family=Aladin|Tulpen+One|Amatic+SC:400,700|Rum+Raisin|Londrina+Sketch';

/*
ericfosterIO.css

Main CSS for ericfoster.io portfolio site.

Author: Eric James Foster
*/




html,body {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 overflow-x: hidden;
}

/*body {
  background-image: url('../../images/rainbula2.jpg');
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  overflow-x: hidden;


  VV--Put background image in separate div to appease mobile safari--VV
}*/

#back-image {
  background-image: url('../../images/rainbula2.jpg');
  background-color: black;
  position: fixed;
  background-repeat: none;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

#container {
  height: 100%;
  width: 100%;
  /*right: 0px;*/
}



#t {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: transparent;
}


/*===Cover===============================================*/



#navbar {
  width: 100%;
  opacity: .9;
  background-color: transparent;
  border: none;
}

#me-head {
  position: relative;
  top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  /*border: 7px solid #27130a;*/
  box-shadow: 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9;
  box-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;

  margin-right: 10px;
  z-index: 19;

}

#header {
  left: 0px;
  right: 0px;
  width: 100%;
  position: fixed;
  z-index: 999
}

#meBrand {
  position: absolute;
  color: #714277;
  top: 25px;
  left: 175px;
  font-family: monoton, love ya like a sister, im fell english sc, trade winds, henny penny, galindo, mystery quest, londrina shadow, londrina sketch, rum raisin;
  font-size: 144px;
  z-index: 19;
}
#meBrand:hover {
  text-shadow: 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22;
}

.naviBar {
  font-family: aladin, cursive, amatic sc, carme;
  font-weight: 100;
  float: right;
  position: relative;
  top: 25px;
}

#naviBar li a {
  font-size: 40px;
  color: #f8e7da;
  /*text-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;*/

}


#naviBar > .activ  a {
  background-color: transparent;
  border-bottom: 1px solid #191a1a;
  border-radius: 10px;
}

.naviBar a:hover {
  border-top: 1px solid #e12d22;
  border-right: 1px solid #e12d22;
  border-radius: 10px;
}

.naviBar_Mobile {
  font-family: aladin, cursive, amatic sc, carme;
  font-size: 24px;
}

.cover-head {
  font-size: 48px;
  font-family: aladin, cursive;
  text-shadow: 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830;

  /*text-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;*/
  color: #27130a;
}

#coverDesc {
  font-size: 30px;
  color: #f8e7da;
}


#meBrand {
  font-family: aladin, cursive, bangers, monoton, monofett, megrim, ewert, comfortaa, aladin, cursive;
  /*text-shadow: 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830;*/
  text-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;
  /*text-shadow: 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9, 0 0 0.2em #3a90a9;*/
  color: #27130a;
  font-size: 112px;
}
/*
bangers, comfortaa, megrim, poiret one,
*/
#coverDescContainer {
  position: relative;
  font-family: aladin, cursive, wire one, bangers, megrim, ubuntu;
  color: #f8e7da;
  top: 180px;
  margin: auto;
  height: 230px;
  width: 400px;
  z-index: 10;
}

#coverDescContainer h5 {
  margin-bottom: 40px;
}

#coverDescContainer div a {
  display: inline;
  font-size: 36px;
  background-color: #fa6121;
  border: none;
  /*border-radius: 40px;;*/
  color: #27130a;
  padding: 10px 5px;
}
#coverDescContainer div a:hover {
  background-color: #cf2530;
  color: #27130a;
}
#coverDescContainer div a:active {
  background-color: #164cac;
  opacity: 1;
  color: #000;
  border: 1px solid #000;
}



/*
======Industry Icons+++=============================>>>>
*/

#show-techs {
  position: fixed;
  left: 20px;
  bottom: 15px;
  z-index: 5;
}

#show-techs i {
  margin-right: 10px;
}

#js {
  color: #fed935;
  font-size: 46px;
  opacity: .8;

}

#css {
  color: #d0191b;
  font-size: 46px;
  opacity: .6;
}

#html {
  color: #256ece;
  font-size: 46px;
  opacity: .8;
}

#python {
  color: #fdb830;
  font-size: 46px;
  opacity: .8;
}

#gulp {
  color: #992223;
  font-size: 56px;
  opacity: .8;
}


#node {
  font-size: 56px;
  color: #748f56;
  opacity: .8;
}

/*#atom {
  position: fixed;
  right: 160px;
  bottom: -12px;
  font-size: 106px;
}*/

#elec {
  font-size: 56px;
  color: #4fab67;
}

#apple {
  font-size: 56px;
  opacity: .8;
  color: #000;
}

#bootstrap {
  font-size: 46px;
  opacity: .8;
  color: #714477;
}

#django {
  font-size: 56px;
  opacity: .8;
  color: #3c734b;
}

#githb {
  font-size: 46px;
  opacity: .8;
  color: #22204c;
}

#git {
  font-size: 46px;
  opacity: .8;
  color: #d41f1c;
}

#c {
  font-size: 46px;
  opacity: .8;
  color: #f77431;
}

#trello {
  font-size: 46px;
  opacity: .8;
  color: #408fdd;
}

#postgres {
  font-size: 46px;
  opacity: .8;
  color: #7b537e;
}

#sass {
  font-size: 46px;
  opacity: .8;
  color: #bb5041;
}

#travis {
  font-size: 46px;
  opacity: .8;
  color: #286141;
}

#react {
  font-size: 46px;
  opacity: .8;
  color: #3a80d1;
}

#apache {
  font-size: 46px;
  opacity: .8;
  color: #9a1224;
}

#ubuntu {
  font-size: 46px;
  opacity: .8;
  color: #fd7f29;
}

#grunt {
  font-size: 46px;
  opacity: .8;
  color: #a0503f;
}





/*===About Me===================================*/

#me {
  /*position: absolute;*/
  /*top: 740px;*/
  height: 0px;
  width: 100%;
}

#aboutMeContainer {
  position: relative;
  top: -40px;
}

#aboutMe {
  position: absolute;
  top: 100%;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #191a1a;
  color: #f8e7da;
  opacity: .9;
  text-align: center;
  font-family: tulpen one, aladin, cursive, bangers, amatic sc;
  padding: 80px 30px 100px 30px;
  z-index: 12;
}

#aboutMe h2 {
  font-size: 70px;
  /*text-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;*/
  text-shadow: 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830, 0 0 0.2em #fdb830;
}

#aboutMe p {
  font-size: 38px;
}

#rightCurtain {
  position: absolute;
  float: right;
  height: 100%;
  width: 50%;
  top: 100%;
  right: 0;
  z-index: 20;
  border-top: 4px solid #191a1a;
  border-bottom: 4px solid #191a1a;
}

#leftCurtain {
  position: absolute;
  float: left;
  height: 100%;
  width: 50%;
  top: 100%;
  left: 0;

  z-index: 20;
  border-top: 4px solid #191a1a;
  border-bottom: 4px solid #191a1a;
}

/*===Projects Page=======================================*/

#projects {
  /*position: absolute;
  left: 0;
  top: 1478px;*/
  height: 0px;
  width: 100%;
}

#cubeFolio {
  position: absolute;
  top: 100%;
  left: 0px;
  height: 100%;
  width: 100%;
  font-family: amatic sc;
  font-size: 28px;
  /*background-image: url('../../images/andromeda.jpg');
  background-repeat: repeat;
  background-color: black;*/
  background-color: transparent;
  z-index: 11;
  padding: 0px;
  overflow-x: hidden;
}

#cubeFolio ul {
  list-style: none;
}

#ex {
  position: absolute;
  top: 85px;
  left: 55px;
  color: #f8e7da;
  z-index: 10999;
}
#ex:hover {
  color: #e12d22;
}
#ex:active {
  text-shadow: 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22;
  color: #f8e7da;
}


#leftProjList {
  position: absolute;
  border-top-right-radius: 10px;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
}
#rightProjList {
  position: absolute;
  border-top-left-radius: 10px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 0px;
}

/*
advent pro, aladin, cursive, medula one, merienda one, six caps,
*/
.projects-list {
  box-sizing: border-box;
  padding: 12px;
  bottom: 0;
  color: #f8e7da;
  background-color: #191a1a;
  font-family: tulpen one;
  width: 28%;
  /*font-size: 22px;*/
  opacity: .8;
  z-index: 999
}

/*.projects-list-item:hover {
  color: black;
  font-weight: 900;
  text-shadow: 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d;
  z-index: 1000;
}*/
.projects-list-item:active {
  color: #f8e7da;
  font-weight: 900;
  text-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;
  z-index: 1000;
}

#project-info {
  position: absolute;
  max-width: 700px;
  margin: auto;
  top: 110px;
  left: 300px;
  border-radius: 10px;
  background-color: #191a1a;
  color: #f8e7da;
  opacity:  .8;
  font-family: tulpen one, amatic sc;
  /*font-size: 32px;*/
  padding: 40px 40px 100px 40px;
  z-index: 9999;
}

#project-info h2,
.proj-descript h2 {
  font-family: aladin, cursive;
  color: #f8e7da;
  font-weight: 900;
  text-shadow: 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22;
  /*text-shadow: 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87;*/
  z-index: 1000;
}

#chevyL {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #f8e7da;
  z-index: 10000;
}
#chevyL:hover {
  color: #fe7927;
}
#chevyL:active {
  text-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;
  color: #f8e7da;
}

#chevy {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #f8e7da;
  z-index: 10000;
}
#chevy:hover {
  color: #fe7927;
}
#chevy:active {
  text-shadow: 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927, 0 0 0.2em #fe7927;
  color: #f8e7da;
}

.browser {
  position: absolute;
  font-size: 66px;
  bottom: 20px;
  left: 230px;
  color: #f8e7da;
  z-index: 10000;
}


#github {
  position: absolute;
  fill: #f8e7da;
  bottom: 20px;
  right: 230px;
  color: #f8e7da;
  z-index: 10000;
}

#project-info-buttons {
  margin-top: 20px;
}

#see-code {
  position: absolute;
  color: #f8e7da;
  font-size: 4;
  font-family: londrina sketch, rum raisin;
  bottom: 20px;
  right: 55px;
}

.visit-page {
  position: absolute;
  font-size: 6;
  font-family: rum raisin;
  color: #f8e7da;
  bottom: 20px;
  left: 115px;
}

.svg-Icon {
  height: 70px;
  width: 70px;
}

#github-link:hover > #github {
  fill: #6f3b87;
}
#github-link:active > #github {
  fill: #164cac;
}
#github-link:hover > #see-code {
  color: #6f3b87;
}
#github-link:active > #see-code {
  color: yellow;
}
#github-link:active > #see-code span {
  color:#e12d22;
}
.site-link:hover > .browser {
  color: #e12d22;
}
.site-link:active > .browser {
  opacity: 1;
}
.site-link:hover > .visit-page {
  color: #e12d22;
}
.site-link:active > .visit-page {
  color: #164cac;
}

/*
See Assignable classes for:

.focus {}
.hover {}
*/


/*
#carouFolio page+++=====================================>>>>
*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*
Carousel base class */
.carousel {
  height: 100%;
}

#swap {
  border: 1px solid #42392e;
  border-radius: 50%;
  display: none;
  color: #f9f0e6;
  z-index: 8;
}

#swap i {
  font-size: 22px;
  color: #f9f0e6;
  pointer-events: all;
}

/*#swap:hover {
  background-color: #fdb830;
  border: none;
}*/
#swap:focus {
  color: #fdb830;
  background-color: #164cac;
  border: none;
}
#swap:active {
  color: #fdb830;
  background-color: #164cac;
  border: none;
}
/*.item {
  position: absolute;
  top: 80px;
}*/

.carousel-inner {
  height: 100%;
  /*z-index: 1000;*/
}
/*
Since positioning the image, we need to help out the caption */
.carousel-caption {
  /*z-index: 10;*/
}

/*
Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: transparent;
}


.carousel-image {
  position: static;
  width: 95%;
  border-radius: 5px;
}

.item-inner {
  position: relative;
  top: 60px;

}

.img-box {
  margin-bottom: 5px;
}

.caption {
  background-color: #191a1a;
  color: #f8e7da;
  opacity: .8;
  border-radius: 7px;
  bottom: 100px;
  font-size: 25px;
  padding: 5px 7px;
  z-index: 5;
}

.caption h2 {
  margin-top: 5px;
  font-family: aladin, cursive;
  text-shadow: 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22, 0 0 0.2em #e12d22;
}

.capt {
  margin-top: 5px;
}

.carousel-indicators {
  background-color: #191a1a;
  color: #f8e7da;
  opacity: .9;
  border-radius: 6px;
  margin-bottom: 15px;
}

.carousel-indicators li {
  color: #f8e7da;
}

.left > .glyphicon {
  position: relative;
  left: -15px;
  top: 230px;
  /*z-index: 12;*/
}

.right > .glyphicon {
  position: relative;
  right: -15px;
  top: 230px;
  /*z-index: 12;*/
}
/*
#thumbFolio page+++=====================================>>>>
*/

#thumbFolio {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  font-family: tulpen one, amatic sc;
  font-size: 28px;
  /*background-image: url('../../images/andromeda.jpg');
  background-repeat: repeat-x;*/
  background-color: transparent;;
  z-index: 11;
  padding: 10px;
  overflow-x: hidden;
}

.proj-pic-box {
  width: 70%;
  border: 2px solid #cedbf7;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-right: 0;
  padding-left: 0;

}

.proj-pic-box img {
  width: 100%;
  margin-bottom: 0;
}



.proj-descript {
  width: 100%;
  background-color: black;
  margin-top:  0;

}

.proj-descript  h2,
.proj-descript p {
  margin: 0;
}

.proj-descript  h2 {
  font-size: 16px;
  font-family: aladin, cursive;
  padding: 4px 0 2px;
}
.proj-descript  p {
  font-size: 12px;
  margin: 2px 5px 10px;
}

.github2 {
  display: inline;
  margin-right: 3px;
  fill: #f8e7da;
  height: 28px;
  width: 28px;
  color: #f8e7da;
  z-index: 10000;
}

.github-link2 {
  position: relative;
  left: 10px;
  /*border: 1px solid #fff;
  border-radius: 5px;*/
  padding: 12px 11px 5px 8px;
  margin-top: 10px;

}

.see-code2 {
  color: #f8e7da;
  display: inline;
  position: relative;
  bottom: 5px;
  font-size: 4;
  font-family: londrina sketch, rum raisin;

}

.site-link2 {
  position: relative;
  bottom: 2px;
  left: 17px;
  /*border: 1px solid #fff;
  border-radius: 5px;*/
  padding: 12px 7px 7px 25px;
  margin-top: 5px;
  margin-right: 20px;
}

.visit-page2 {
  color: #f8e7da;
  display: inline;
  position: relative;
  font-family: rum raisin;
  margin-right: 3px;
  bottom: 3px;
}

.www2 {
  color: #f8e7da;
  position: relative;
  font-size: 30px;
  /*right: 100px;*/
}



.github-link2:hover > .github2 {
  fill: #6f3b87;
}
.github-link2:active  {
  background-color: #6f3b87;
}
.github-link2:active > .github2 {
  fill: #fff;
}
.github-link2:hover > .see-code2 {
  color: #6f3b87;
}
.github-link2:active > .see-code2 {
  color: #fff;
}
.github-link2:active > .see-code2 span {
  color: #fff;
}
.site-link2:hover > .browser2 {
  color: #e12d22;
}
.site-link2:active > .browser2 {
  color: #fff;;
}
.site-link2:hover > .visit-page2 {
  color: #164cac;
}
.site-link2:active > .visit-page2 {
  color: #fff;
}
.site-link2:active {
  background-color: #164cac;
}


/*===Contact Me======================================*/

#contactMe {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 11;
}

#contact {
  position: relative;
  top: 0px;
  left: 0px;
  height: 220px;
  width: 100%;
  background-color: #191a1a;
  color: #000;
  opacity: .8;
  padding: 80px 0px 60px 0px;
  text-align: center;
  font-family: amatic sc;
  z-index: 11;
}

#contactMeText {
  color: #f8e7da;
  font-family: aladin, cursive, amatic sc;
  font-size: 84px;
}

/*#contact h1 {
 font-size: 124px;
}*/

#buttons {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
  background-color: transparent;
  padding: 60px 0px 140px 0px;
  text-align: center;
  z-index: 11;
}

.buttons {
  display: inline;
  width: 80px;
  border-radius: 22px;
}

#buttons div a {
  display: inline;
  font-size: 48px;
  background-color: transparent;
  margin-right: 40px;
}

#buttonsContainer {
  position: relative;
  font-family: aladin, cursive, wired one, tulpen one, amatic sc;
  margin: auto;
  top: 30px;
  width: 100%;
}

.line {
  border: 1px solid #f8e7da;
}

#linkedin {
  font-size: 30px;
  margin-right: 10px;
}
#gitsquare {
  font-size: 30px;
  margin-right: 10px;
}
#envelope {
  font-size: 30px;
  margin-right: 10px;
}
#share {
  font-size: 30px;
  margin-right: 10px;
}


#mapLink {
  position: relative;
  top: 0px;
  left: 0px;
}

/*#buttons div a:hover #linkedin {
  color: #e0e0e0;
}
#buttons div a:hover #share {
  color: #e0e0e0;
}
#buttons div a:hover #gitsquare {
  color: #e0e0e0;
}
#buttons div a:hover #envelope {
  color: #e0e0e0;
}*/

#mapFrame {
  background-color: #191a1a;
  padding: 25px 0px 25px 0px;
  width: 100%;
  margin-bottom: 0px;
  z-index: 10;
}

#map {
  position: relative;
  /*top: 0px;
  left: 0px;*/
  /*top: 2725px;*/
  /*height: 555px;*/
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  margin-bottom: 85px;
  width: 100%;
  z-index: 11;
}

.navBarTop {
  font-size: 36px;
  top: 7px;
}

#ef {
  font-family: amatic sc;
  font-weight: 900;
  font-size: 24px;
  color: #FFF;
}

#footer {
  position: relative;
  visibility: hidden;
  bottom: 60px;
  /*left: 22.5%;*/
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  z-index: 9999;
}
#footer span {
  color: #e12d22;
}

.inner {
  padding-top: 0px;
}


/*===Assignable Classes===================================*/

.hide {
  visibility: hidden;
}

.hidden {
  display: none;
}

.hover {
  color: black;
  font-weight: 900;
  text-shadow: 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d, 0 0 0.2em #9e9e9d;
  z-index: 1000;
}

.focus {
  color: white;
  font-weight: 900;
  text-shadow: 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87, 0 0 0.2em #6f3b87;
  z-index: 1000;
}

.active {
 background-color: transparent;
}

 .info {
   margin-bottom: 20px;
 }
