@import url(https://fonts.googleapis.com/css?family=Montserrat|Raleway|Shadows+Into+Light|Amatic+SC:400,700|Righteous|Bangers|Architects+Daughter|Gloria+Hallelujah|Satisfy|Permanent+Marker|Covered+By+Your+Grace|Coming+Soon|Rock+Salt|Special+Elite|Shadows+Into+Light+Two|Kalam|Carme|Viga|Sacramento|Homemade+Apple|Nothing+You+Could+Do|Limelight|Bubblegum+Sans|Just+Another+Hand|Fredericka+the+Great|Walter+Turncoat|Fontdiner+Swanky|Cabin+Sketch:400,700|Monoton|Sue+Ellen+Francisco|Caesar+Dressing|Love+Ya+Like+A+Sister|IM+Fell+English+SC|Over+the+Rainbow|Rye|Monofett|Swanky+and+Moo+Moo|Cagliostro|Trade+Winds|Sancreek|Henny+Penny|Jolly+Lodger|Ribeye|Galindo|Mystery+Quest|Fascinate|Griffy|Ribeye+Marrow|Londrina+Shadow|Londrina+Sketch|Spirax|Rum+Raisin|Ewert|Bigelow+Rules);

/*
amatic sc, righteous, bangers, rock salt, special elite, viga, homemade apple, limelight, bubblegum sans, fredericka the great, fontdiner swanky,
cabin sketch, rye, monofett, fascinate, ribeye marrow,

amatic sc, monoton, love ya like a sister, im fell english sc, trade winds, henny penny, galindo, mystery quest, londrina shadow, londrina sketch,
rum raisin,
*/
html,body {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 0px;
 overflow-x: hidden;
}

body {
  background-image: url('../../images/rainbula.jpg');
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  max-width: 100%;
  overflow-x: hidden;
  right: 0;
}

#container {
  max-width: 100%;
  overflow-x: hidden;
}

#innerWrapper {
  height: 730px;
  width: 100%;
  right: 0px;;
}

#header {
  left: 0px;
  right: 0px;
  width: 100%;
  position: fixed;
  z-index: 999
}

#meBrand {
  position: absolute;
  left: 15px;
  font-family: monoton, love ya like a sister, im fell english sc, trade winds, henny penny, galindo, mystery quest, londrina shadow, londrina sketch, rum raisin;
  font-size: 101px;
  z-index: 999;
}

#mainNav {
  margin-right: 30px;
  font-family: amatic sc, carme;
}

#mainNav li a {
  font-size: 46px;
}



#me {
  top: 50px;
  left: 0px;
  opacity: .3;
  position: absolute;
  z-index: 10;
}


#coverDescContainer {
  position: absolute;
  display: block;
  font-family: amatic sc;
  left: 100px;
  top: 340px;
  height: 230px;
  width: 380px;
  z-index: 10;
}

#coverDescContainer div a {
  display: inline;
  font-size: 36px;
  background-color: #43234c;
  border: 1px solid #43234c;
  color: #fff;;
}
#coverDescContainer div a:hover {
  background-color: #164cac;
  opacity: .7;
  color: #fff;
  border: 1px solid #000;
}
#coverDescContainer div a:active {
  background-color: #e12d22;
  opacity: 1;
  color: #000;
  border: 1px solid #000;
}

#coverDesc {
  font-size: 48px;
  margin-bottom: 20px;
}


#threejs {
  position: absolute;
  top: 1500px;
  height: 760px;
  left: 0;
  /*max-width: 100%;*/
  background-image: url('../../images/andromeda.jpg');
  background-repeat: repeat-x;
  background-color: black;
  z-index: 11;
  padding: 0px;
  overflow-x: hidden;
}

#me {
  position: absolute;
  top: 740px;
}

#aboutMe {
  position: absolute;
  top: 750px;
  left: 0;
  height: 800px;
  width: 1280px;
  background-color: #191a1a;
  text-align: center;
  font-family: amatic sc;
  padding: 80px 30px 100px 30px;
}

#aboutMe h2 {
  font-size: 64px;
}
#aboutMe p {
  font-size: 28px;
}

#aboutMeContainer {
}

#contactMe {
  position: absolute;
  top: 2220px;
  left: 0px;
}

#contact {
  position: absolute;
  left: 0px;
  top: 2240px;
  height: 220px;
  width: 1280px;
  background-color: #191a1a;
  color: #000;
  opacity: .8;
  padding: 60px 0px 0px 0px;
  text-align: center;
  font-family: amatic sc;
}

#contactMeText {
  color: white;
  font-family: amatic sc;
  font-weight: 800;
  font-size: 84px;
}

/*#contact h1 {
 font-size: 124px;
}*/

#buttons {
  position: absolute;
  top: 2485px;
  left: 0px;
  width: 100%;
  height: 260px;
  background-color: transparent;
  padding: 60px 0px 140px 0px;
  text-align: center;
}

.buttons {
  display: inline;
  width: 80px;
}

#buttons div a {
  display: inline;
  font-size: 48px;
  background-color: transparent;
  color: white;
  margin-right: 40px;
}
#buttons div a:hover {
  background-color: #164cac;
  opacity: .7;
  color: #ffffff;
  border: 1px solid #164cac;
}
#buttons div a:active {
  background-color: #43234c;
  opacity: 1;
  color: #fff;
  border: 1px solid #43234c;
}

#buttonsContainer {
  font-family: amatic sc;
  display: inline;
  margin: auto;
  width: 100%;
}

#mapLink {
  position: absolute;
  top: 2355px;
  left: 0px;
}

#mapFrame {
  background-color: #191a1a;
  padding: 25px 0px 25px 0px;
}

#map {
  position: absolute;
  left: 0px;
  top: 2725px;
  height: 555px;
  width: 1280px;
  background-color: transparent;;
  padding: 0px 0px 115px 0px;
}

.navBarTop {
  font-size: 36px;
  top: 7px;
}

#footer {
  visibility: hidden;
}
