

#container, #wrapper, #wrapper-inner  {
  height: 100%;
  width: 100%;

}

#top-container {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#body1 {
  height: 100%;
  width: 100%;
  background-color: blue;
}

#body2 {
  height: 100%;
  width: 100%;
  background-color: green;
}

#foot {
  height: 100%;
  width: 100%;
  background-color: purple;
}
