
/*
responsive.css

This file responds to varying screen aspect ratios
with layout adjustments.

Author: Eric James Foster
*/




/*
Responsive Design+++++++++++++++++++======================>>>>
--Media Queries--------------------*/

/*
Focus Everything 1000px ++
==========================--->>>>
*/

@media screen and (min-width: 1000px) {
 #buttons div a:hover {
  background-color: #fe7927;
  border: 1px solid #fe7927;
 }
 #buttons div a:active {
  background-color: #43234c;
  opacity: 1;
  border: 1px solid #43234c;
 }

}


/*
Width-- 1800 > 1990px
_____________________
Focus 1920 X 1080
=====================----->>
*/

 @media screen and (max-width: 1990px) {
   /*
   Cover
   ===========*/

   #meBrand {
     font-size: 78px;
     top: 0px;
   }

   #me-head {
     margin-left: 10px;
   }

   #mainNav li a {
     font-size: 56px;
   }

   #show-techs {
     left: 240px;
   }

   #show-techs i {
     font-size: 59px;
   }

   #footer {
     padding-bottom: 45px;
   }

   #aboutMeContainer {
     position: relative;
     top: 5px;
   }

   #aboutMeContainer h2 {
     font-size: 64px;
   }

   #aboutMeContainer p {
    font-size: 39px;
   }

   #scrollIndicator {
     top: 65%;
   }

   /*
   Projects
   ===========*/
/*
   #project-info {
    position: absolute;
    max-width: 1000px;
    top: 260px;
    left: 450px;
    border-radius: 10px;
    background-color: #191a1a;
    color: #f8e7da;
    opacity:  .9;
    font-family: fresca, amatic sc;
    font-size: 26px;
    padding: 40px 40px 100px 40px;
    z-index: 9999;
   }*/

   .projects-list-item {
     font-size: 22px;
   }
}

/*
Focus 1680 X 1050
=================--->>>>
*/

@media screen and (max-width: 1700px) and (max-height: 1100px) {
   /*
   Cover
   =======*/

   #scrollIndicator {
      top: 65%;
   }

   #show-techs i {
     font-size: 48px;
   }

   #show-techs {
     left: 220px;
   }

   /*
   Me
   ====*/

   #aboutMeContainer {
     position: relative;
     top: 5px;
   }

   #aboutMeContainer h2 {
     font-size: 60px;
   }

   #aboutMeContainer p {
    font-size: 36px;
   }

   /*
   projects
   ==========*/

   .projects-list-item {
     font-size: 22px;
   }


   /*
   Footer
   ========*/
}

/*
Focus 1440 X 900
================--->>>>
*/

 @media screen and (max-width: 1500px) and (max-height: 905px) {
   /*
   Cover
   =======*/

   #scrollIndicator {
      top: 65%;
   }

   #show-techs i {
     font-size: 48px;
   }

   #show-techs {
     left: 110px;
   }

   /*
   Me
   ====*/

   #aboutMeContainer {
     top: -10px;
   }

   #aboutMeContainer h2 {
     font-size: 49px;
   }

   #aboutMeContainer p {
     font-size: 32px;
   }

   /*
   projects
   ==========*/

   .projects-list-item {
     font-size: 18px;
   }

   /*
   Footer
   ========*/

}

 /*
Width-- 1300 > 1390px
_____________________
Focus 1366 X 768
=====================------->>
*/

 @media screen and (min-width: 1300px) and (max-width: 1390px) {
   /*
   Cover
   ======*/

   #scrollIndicator {
     top: 55%;
   }

   #contact {
     top: -1px;
  }

  #show-techs i {
    font-size: 48px;
  }

  #show-techs {
    left: 70px;
  }

  /*
   Me
   ====*/

   #aboutMeContainer {
     top: -30px;
   }

   #aboutMeContainer h2 {
     font-size: 40px;
   }

   #aboutMeContainer p {
     font-size: 28px;
   }

}


/*
Width-- 1100 > 1300px, Height-- 1000px > 1100px
_______________________________________________
Focus 1280 X 1024 Desktop No. 4
===============================================--->>
*/

 @media screen and (max-width: 1300px) and (max-height: 1100px) {
   /*
   Cover
   ====*/

   #show-techs i {
     font-size: 48px;
   }

   #show-techs {
     left: 30px;
   }

   /*
   Me
   ====*/

   #aboutMeContainer {
     top: -20px;
   }

   #aboutMeContainer h2 {
     font-size: 46px;
   }

   #aboutMeContainer p {
     font-size: 31px;
   }

   /*
   projects
   ==========*/

   .projects-list-item {
     font-size: 16px;
   }
 }

 /*
Width-- 1100 > 1300px, Height-- 800px > 1100px
______________________________________________
Focus 1280 X 800 Desktop No. 2 &&&&&
      1280 X 800 Kindle Fire 8.9
==============================================--->>
*/

 @media screen and (max-width: 1300px) and (max-height: 1000px) {
   /*
   Cover
   =======*/
   #meBrand {
     font-size: 78px;
   }

   #scrollIndicator {
      top: 60%;
   }

   #show-techs i {
     font-size: 48px;
   }

   #show-techs {
     left: 30px;
   }

   /*
   Me
   ====*/

   #aboutMeContainer {
     top: -40px;
   }

   #aboutMeContainer h2 {
     font-size: 42px;
   }

   #aboutMeContainer p {
     font-size: 28px;
   }

   /*
   projects
   ==========*/

   .carousel-image {
     width: 50%;
   }

   #sideNav {
     width: 30%;
   }

   .projects-list-item {
     font-size: 16px;
   }

   /*
   Footer
   ========*/

   /*#ef {
     padding-bottom: 30px;
   }*/

 }


/*
Width-- 1100px -- Portrait
______________________________________
Focus iPad Pro - Portrait
=======================================----->>>>
*/
@media screen and (max-width: 1100px) and (orientation: portrait) {
  /*#back-image {
    background-image: url('../../images/rainbula2.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }*/
  /*
  Cover
  ======*/

  #scrollIndicator {
    top: 77%;
  }

  #show-techs i {
    font-size: 37px;
  }

  #show-techs {
    left: 0px;
  }

  /*
  Me
  ====*/

  #aboutMeContainer {
    top: 0px;
  }

  #aboutMeContainer h2 {
    font-size: 46px;
  }

  #aboutMeContainer p {
    font-size: 35px;
    margin-bottom: 80px;
  }

  /*
  Projects
  =========*/

  #sideNav {
    width: 78%;
  }

  .caption {
    margin-top: 40px;
  }

  /*
  Footer
  =========*/

  #map {
    margin-bottom: 450px;
  }
}

 /*
Width-- 1000 => 1100px Height- 800px--
______________________________________
Focus iPad - Landscape
=======================================----->>>>
*/
 @media screen and (max-width: 1100px) and (max-height: 800px) {
   /*
   Cover
   ======*/

   #meBrand {
     font-size: 66px;
     top: 10px;
   }

   #coverDescContainer h1 {
     font-size: 15px;
   }

   #cdcDesc {
     top: 85px;
     left: 9px;
   }

   #mainNav li a {
     font-size: 42px;
   }

   #show-techs i {
     font-size: 36px;
   }

   #me-head {
     margin-left: 10px;
   }

   /*.cover-head {
     font-size: 37px;
   }

   #coverDesc {
     font-size: 27px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     position: relative;
     margin: auto;
     top: 170px;
     height: 230px;
     width: 380px;
   }*/

   #scrollIndicator {
     top: 53%;
   }

   /*
   Me
   ====*/

   #aboutMe h2 {
     font-size: 42px;
   }

   #aboutMe p {
     font-size: 23px;
   }

   #aboutMeContainer {
     position: relative;
     top: -55px;
   }

   /*
   Projects
   =========*/

   .projects-list {
     padding: 7px;
   }

   .projects-list-item {
     font-size: 24px;
   }

   #project-info {
     top: 80px;
     left: 180px;
   }

   /*
   Carousel Adustments=====================-->>>
   */

   .carousel-image {
     width: 55%;
   }

   #sideNav {
     width: 38%;
   }

   .item-inner {
     top: 45px;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 290px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 290px;
   }



   .caption h2 {
     font-size: 31px;
     margin-bottom: 0;
   }

   .caption {
     margin-top: 0;
     font-size: 21px;
   }

   .carousel-indicators {
     margin-bottom: 0px;
   }


   .github2 {
     margin-right: 2px;
     height: 42px;
     width: 42px;
   }

   .www2 {
     margin-left: 5px;
     bottom: 2px;
     font-size: 45px;
   }

   .see-code2 {
     position: relative;
     bottom: 5px;
   }

   .visit-page2 {
     position: relative;
     bottom: 3px;
   }

   .site-link2 {
     position: relative;
     /*border: 1px solid white;*/
     padding-top: 23px;
     padding-left: 25px;
     left: 10px;
     bottom: 2px;
     font-size: 28px;
   }

   .github-link2 {
     /*border: 1px solid white;*/
     position: relative;
     padding-top: 25px;
     padding-right: 5px;
     left: 10px;
     font-size: 28px;
   }
}

/*
Width-- 1000 => 1100px Height- 700px--
______________________________________
Focus iPad Actual - Landscape
=======================================----->>>>
*/

@media screen and (max-width: 1100px) and (max-height: 700px) {
   /*
   Cover
   ------*/

   #meBrand {
     font-size: 66px;
   }

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 36px;
   }

   #aboutMe p {
     font-size: 21px;
   }

   #aboutMe {
     padding-top: 90px;
   }

   .projects-list {
     padding: 7px;
   }

   .projects-list-item {
     font-size: 24px;
   }

   #project-info {
     top: 80px;
     left: 180px;
   }

   /*
   Carousel Adustments=====================-->>>
   */

   .carousel-image {
     width: 57%;
   }

   .caption h2 {
     font-size: 32px;
     margin-bottom: 0;
   }

   .caption p {
     margin-top: 0;
   }

   .caption {
     margin-top: 0;
     font-size: 20px;
   }

   #sideNav {
     width: 36%;
   }

   .carousel-indicators {
     margin-bottom: 0px;
     bottom: -5px;
   }


   .github2 {
     position: relative;
     margin-right: 0px;
     height: 35px;
     width: 35px;
     top: 2px;
   }

   .www2 {
     margin-left: 5px;
     bottom: 2px;
     font-size: 37px;
   }

   .see-code2 {
     position: relative;
     bottom: 3px;
   }

   .visit-page2 {
     position: relative;
     bottom: 3px;
   }

   .site-link2 {
     position: relative;
     /*border: 1px solid white;*/
     padding: 15px 3px 0px 20px;
     /*padding-top: 23px;
     padding-left: 25px;*/
     left: 10px;
     bottom: 2px;
     font-size: 24px;
   }

   .github-link2 {
     /*border: 1px solid white;*/
     position: relative;
     padding: 15px 3px 0px 3px;
     /*padding-top: 25px;
     padding-right: 5px;*/
     left: 10px;
     bottom: 2px;
     font-size: 24px;
   }
}

/*
Focus, Galaxy Tab -Landscape
===================>>>>
*/

@media screen and (max-width: 1100px) and (max-height: 610px) {
   #meBrand {
     font-size: 66px;
     z-index: 9999;
   }

   #mainNav li a {
     font-size: 42px;
   }

   #show-techs i {
     font-size: 36px;
   }

   #me-head {
     margin-left: 10px;
   }

   .cover-head {
     font-size: 36px;
   }

   /*#coverDesc {
     font-size: 27px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     position: relative;
     margin: auto;
     top: 110px;
     height: 230px;
     width: 380px;
   }*/

   #aboutMe h2 {
     font-size: 36px;
   }

   #aboutMe p {
     font-size: 20px;
   }

   #aboutMeContainer {
     top: -80px;
   }

   .projects-list {
     padding: 7px;
   }

   .projects-list-item {
     font-size: 24px;
   }

   #project-info {
     top: 80px;
     left: 180px;
   }

   /*
   Carousel Adustments=====================-->>>
   */

   .carousel-image {
     width: 45%;
   }

   .item-inner {
     top: 45px;
   }

   #sideNav {
     width: 30%;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 290px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 290px;
   }

   .caption h2 {
     font-size: 26px;
     margin-bottom: 0;
   }

   .caption {
     margin-top: 0;
     font-size: 16px;
   }

   .carousel-indicators {
     margin-bottom: 0px;
     bottom: 0;
   }


   .github2 {
     margin-right: 2px;
     height: 42px;
     width: 42px;
   }

   .www2 {
     margin-left: 5px;
     bottom: 2px;
     font-size: 45px;
   }

   .see-code2 {
     position: relative;
     bottom: 5px;
   }

   .visit-page2 {
     position: relative;
     bottom: 3px;
   }

   .site-link2 {
     position: relative;
     /*border: 1px solid white;*/
     padding-top: 23px;
     padding-left: 25px;
     left: 10px;
     bottom: 2px;
     font-size: 28px;
   }

   .github-link2 {
     /*border: 1px solid white;*/
     position: relative;
     padding-top: 25px;
     padding-right: 5px;
     left: 10px;
     font-size: 28px;
   }

   #footer {
     padding-bottom: 0px;
     margin-bottom: 0;
   }

 }

 /*
 Width-- 1000px --
 _________________________
 Focus Nexus 7 - Landscape
 =========================-->>
*/

 @media screen and (max-width: 1000px) {
   /*
   Cover
   ======*/

   /*.cover-head {
     font-size: 34px;
   }*/

   /*#coverDesc {
     font-size: 26px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     top: 140px;
     height: 230px;
     width: 380px;
   }*/

   #show-techs i {
     font-size: 32px;
   }

   /*
   Me
   ====*/

   #aboutMe h2 {
     font-size: 36px;
   }

   #aboutMe p {
     font-size: 20px;
   }



   /*
   Carousel Adustments=====================-->>>
   */

   .carousel-image {
     width: 45%;
   }

   .item-inner {
     top: 45px;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 290px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 290px;
   }

   .caption h2 {
     font-size: 25px;
     margin-bottom: 0;
   }

   .caption {
     margin-top: 0;
     font-size: 18px;
   }

   .carousel-indicators {
     margin-bottom: 0px;
     padding-bottom: 0;
   }


   .github2 {
     margin-right: 2px;
     height: 42px;
     width: 42px;
   }

   .www2 {
     margin-left: 5px;
     bottom: 2px;
     font-size: 45px;
   }

   .see-code2 {
     position: relative;
     bottom: 5px;
   }

   .visit-page2 {
     position: relative;
     bottom: 3px;
   }

   .site-link2 {
     position: relative;
     /*border: 1px solid white;*/
     padding-top: 23px;
     padding-left: 25px;
     left: 10px;
     bottom: 2px;
     font-size: 28px;
   }

   .github-link2 {
     /*border: 1px solid white;*/
     position: relative;
     padding-top: 25px;
     padding-right: 5px;
     left: 10px;
     font-size: 28px;
   }


   #footer {
     padding-bottom: 20px;
   }
 }


 /*
 Width-- 800 => 900px
 ______________________
 Focus Kindle Fire HD 7
 ======================---->>
 */
 @media screen and (max-width: 900px) {
   /*
   Cover
   =====*/

   #naviBar {
     top: 0px;
   }

   #show-techs i {
     font-size: 27px;
   }

   .cover-head {
     font-size: 34px;
   }

   /*#coverDesc {
     font-size: 22px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     top: 122px;
     height: 230px;
     width: 380px;
   }*/

   #scrollIndicator {
     top: 47%;
   }

   /*
   Me
   ====*/

   #aboutMe h2 {
     font-size: 28px;
   }

   #aboutMe p {
     font-size: 18px;
   }

   /*
   Projects
   ========*/

   .item-inner {
     top: 45px;
   }

   .caption h2 {
     font-size: 24px;
   }
   .caption p {
     font-size: 16px;
     margin-bottom: 0;
   }

   .projects-list {
     padding: 7px;
   }

   .projects-list-item {
     font-size: 24px;
   }

   .buttons {
     width: 40px;
   }

   #buttons div a {
     font-size: 30px;
     margin-right: 20px;
   }

   #footer {
     padding-bottom: 20px;
   }

 }

 /*
 Width-- 700 => 800px, Height-- 1300px-- Portrait
 _______________________________________________
 Focus Kindle Fire HD 8.9 - Portrait
 ================================================---->>
 */
 @media screen and (max-width: 805px) and (max-height: 1300px) {
   /*
   Me
   ===*/

   #meBrand {
     font-size: 66px;
     top: 10px;
   }

   #coverDescContainer h1 {
     font-size: 15px;
     left: 10px;
   }

   #show-techs i {
     font-size: 25px;
   }

   /*.cover-head {
     font-size: 42px;
   }*/

   /*#coverDesc {
     font-size: 33px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     top: 270px;
     height: 430px;
     width: 380px;
   }*/

   #scrollIndicator {
     top: 70%;
   }

   /*
   Me
   ====*/

   #aboutMe h2 {
     font-size: 44px;
   }

   #aboutMe p {
     font-size: 29px;
   }

   #aboutMe {
     padding-top: 90px;
   }

   /*
   Carousel Adustments=====================-->>>
   */

   .item-inner {
     top: 80px;
   }

   .carousel-image {
     width: 95%;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 260px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 260px;
   }

   .caption h2 {
     font-size: 46px;
   }

   .caption {
     font-size: 38px;
     margin-top: 60px;
   }

   .github2 {
     margin-right: 2px;
     height: 42px;
     width: 42px;
   }

   .www2 {
     margin-left: 5px;
     bottom: 2px;
     font-size: 45px;
   }

   .see-code2 {
     position: relative;
     bottom: 5px;
   }

   .visit-page2 {
     position: relative;
     bottom: 3px;
   }

   .site-link2 {
     position: relative;
     /*border: 1px solid white;*/
     padding-top: 23px;
     padding-left: 25px;
     left: 10px;
     bottom: 2px;
     font-size: 28px;
   }

   .github-link2 {
     /*border: 1px solid white;*/
     position: relative;
     padding-top: 25px;
     padding-right: 5px;
     left: 10px;
     font-size: 28px;
   }

   .carousel-indicators {
     bottom: -3px;
   }

   /*
   Footer
   =======*/

   #map {
     padding-bottom: 350px;
   }

   /*
   Map and Contact Adjustments--*/

   #map {
     margin-bottom: 85px;
   }

   .buttons {
     width: 40px;
   }

   #buttons div a {
     font-size: 30px;
     margin-right: 20px;
   }

   #footer {
     padding-bottom: 100px;
   }
 }

 /*
 Width-- 700 => 800px, Height-- 1050px-- Portrait
 _______________________________________________
 Focus iPad Air- Portrait
 ================================================---->>
 */
 @media screen and (max-width: 805px) and (max-height: 1050px) {
   /*
   Cover
   -------*/

   #show-techs {
     left: 10px;
   }


   #show-techs i {
     font-size: 24px;
   }

   /*
   Me
   ====*/

   #aboutMe h2 {
     font-size: 34px;
   }

   #aboutMe p {
     font-size: 25px;
   }

   #aboutMe {
     padding-top: 70px;
   }

   /*
   Carousel
   ---------*/

   #sideNav {
     width: 65%;
   }

   .caption h2 {
     font-size: 36px;
   }

   .caption p{
     font-size: 22px;
   }

 }


 /*
  Width-- 700 => 800px, Height-- 800px--
  ______________________________________
  Focus Kindle Fire Landscape
  ======================================----->>
  */
  @media screen and (max-width: 810px) and (max-height: 800px) {
    /*
    Cover
    =====*/
    #me-head {
      top: 130px;
      float: left;
    }

    /*#naviBar li a {
      font-size: 26px;
    }*/

    #show-techs i {
      font-size: 24px;
    }

    #me-head {
      height: 100px;
      width: 100px;
      margin-left: 10px;
    }

    /*.cover-head {
      font-size: 32px;
      margin-bottom: 0px;
    }*/

    /*#coverDesc {
      color: #f8e7da;
      font-size: 23px;
      margin-bottom: 20px;
    }

    #coverDescContainer {
      margin: auto;
      top: 130px;
      height: 130px;
      width: 300px;
    }*/

    #scrollIndicator {
      top: 55%;
    }

    /*
    Me
    ====*/

    #aboutMe h2 {
      font-size: 27px;
      margin-top: 30px;
    }

    #aboutMe p {
      font-size: 19px;
    }

    #aboutMeContainer {
      top: -50px;
    }

    /*
   Carousel Adustments=====================-->>>
   */

   .item-inner {
     top: 60px;
   }
   .carousel-image {
     width: 55%;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 220px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 220px;
   }

   .caption h2 {
     font-size: 25px;
   }

   .caption {
     font-size: 28px;
   }

    #map {
      padding-bottom: 5px;
    }

    .buttons {
      width: 40px;
    }

    #buttons div a {
      font-size: 30px;
      margin-right: 20px;
    }

  }



 /*
 Width-- 700 => 800px, Height-- 500px--
 ______________________________________
 Focus iPhone 6 Plus, Nexus 6P Landscape
 ======================================---->>
 */
 @media screen and (max-width: 810px) and (max-height: 500px) {
   /*
   Cover Adjustments
   ------------------*/

   #meBrand {
     top: -10px;
   }


   #efLogo {

   }

   #mobileMenu {
     bottom: 10px;
   }

   #menuIcon {
     display: inline-block;
     position: relative;
     margin: 0 auto;
     vertical-align: middle;
   }

   #coverDescContainer h1 {
     top: 60px;
   }

   /*#me-head {
     top: 10px;
     float: left;
   }*/

   #navbar {
     top: -70px;
   }

   #naviBar{
     float: none;
   }

   #show-techs i {
     font-size: 21px;
   }

   #scrollIndicator {
     top: 35%;
   }

   /*#me-head {
     height: 100px;
     width: 100px;
     margin-left: 10px;
   }*/

   /*.cover-head {
     font-size: 32px;
     margin-bottom: 0px;
   }*/

   /*#coverDesc {
     color: #f8e7da;
     font-size: 23px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     top: 80px;
     height: 130px;
     width: 300px;
   }*/

   /*#more {
     position: relative;
     top: -100px;
     left: 200px;
     border: 1px solid #27130a;
   }*/

   /*
   Me Adjustments
   ---------------*/

   #aboutMeContainer {
     top: -75px;
   }

   #aboutMe h2 {
     font-size: 21px;
     margin-bottom: 0px;
   }

   #aboutMe p {
     margin-top: 0px;
     font-size: 13px;
   }

   #aboutMe {
     padding-top: 130px;
   }

  /*
  Projects
  ___________
  Carousel Adjustments
  ---------------------*/

  .item-inner {
     top: 68px;
   }
   .carousel-image {
     margin-bottom: 0px;
     width: 30%;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 150px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 150px;
   }

   #sideNavCont .caption {
     position: relative;
     bottom: 85px;
   }

   .caption h2 {
     font-size: 17px;
     margin-bottom: 0px;
   }

   .caption p{
     margin-top: 0px;
     font-size: 12px;
   }

   .carousel-indicators {
     margin-bottom: 0px;
     padding: 0px;

   }

   .github2 {
     height: 34px;
     width: 34px;
   }

   .www2 {
     font-size: 37px;
   }

   .see-code2 {
     font-size: 24px;
   }

   .visit-page2 {
     font-size: 24px;
   }

   .site-link2 {
     padding-top: 10px;
   }

   .github-link2 {
     padding-top: 12px;
   }


  /*
  Contact, Map Adjuatments
  -------------------------*/

   #map {
     padding-bottom: 5px;
   }

   .buttons {
     width: 40px;
   }

   #buttons div a {
     font-size: 30px;
     margin-right: 20px;
   }

 }



 /*
 Width-- 600 => 700px, Height 700px++===------------------------------>>
 */
 @media screen and (max-width: 700px) and (min-height: 700px) {
   /*
   Cover
   ------*/

   #efLogo {
     position: absolute;
     left: 35%;
     top: 142%;
     height: 270px;
     width: 270px;
   }

   #meBrand {
     font-size: 69px;
     left: 65px;
     top: 10px;
   }

   #navbar {
     top: -100px;
   }

   #coverDescContainer h1 {
     font-size: 9px;
     top: 60px;
     left: -160px;
   }

   #show-techs {
     left: 20px;
   }

   #show-techs i {
     font-size: 44px;
   }

   /*#coverDesc {
     font-size: 44px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     left: 130px;
     top: 300px;
     height: 430px;
     width: 380px;
   }*/

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 44px;
   }

   #aboutMe p {
     font-size: 20px;
   }

   #aboutMeContainer {
     position: relative;
     top: 20px;
   }

   /*
   Projects
   ---------*/

   .buttons {
     width: 35px;
   }

   #buttons div a {
     font-size: 30px;
     margin-right: 20px;
   }

   /*
   Footer
   ------*/

   #footer {
     padding-bottom: 100px;
   }

   #map {
     margin-bottom: 85px;
   }

 }
 /*
 Width-- 600 => 700px, Height 700px--
 ____________________________________
 Focus iPhone 6 Landscape
 ====================================----->>
 */
 @media screen and (max-width: 700px) and (max-height: 470px) {
   /*
   Cover
   --------*/

   #mobileMenu {
     bottom: 10px;
   }

   #navbar {
     top: -70px;
   }

   #naviBar {
     float: left;
   }

   #show-techs i {
     font-size: 18px;
   }

   /*#coverDesc {
     color: #f8e7da;
     font-size: 21px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     top: 80px;
     left: -20px;
     height: 130px;
     width: 300px;
   }*/

   #scrollIndicator {
     top: 30%;
   }

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 19px;
     margin-top: 0px;
   }

   #aboutMe p {
     font-size: 14px;
     margin-bottom: 10px;
   }

   #aboutMe {
     padding-top: 160px;
   }

   /*
   Carousel
   ---------*/

   #swap {
     position: absolute;
     display: block;
     top: 70px;
     left: 70px;
     padding: 3px 14px;

   }

   #swap i {
     position: relative;
     top: 6px;
     left: 2px;
   }

   .carousel-image {
     width: 50%;
   }

   .caption {
     position: relative;
     top: -100px;
   }
   .caption h2 {
     margin-bottom: 0;
   }

   .caption p {
     margin-top: 0;
   }


   .github2 {
     height: 28px;
     width: 28px;
   }

   .www2 {
     font-size: 31px;
   }

   .see-code2 {
     font-size: 18px;
   }

   .visit-page2 {
     font-size: 18px;
   }

   .site-link2 {
     /*border: 1px solid #fff;*/
     padding-top: 5px;
     padding-bottom: 2px;
   }

   .github-link2 {
     /*border: 1px solid #fff;*/
     padding-top: 7px;
     padding-bottom: 2px;
   }



   #swap {
     top: 270px;
     z-index: 9999999;
   }

   /*
   Contact, Map
   -------------*/

   #map {
     padding-bottom: 85px;
   }

   .buttons {
     width: 40px;
   }

   #buttons {
     padding-top: 30px;
     padding-bottom: 0px;
   }

   #buttons div a {
     font-size: 30px;
     margin-right: 20px;
   }

   #footer {
     position: fixed;
     top: 300px;
     left: 250px;
   }


 }


 /*
 Width-- 600 => 700px, Height 370px--
 ____________________________________
 Focus Galaxy S5 Landscape
 ====================================----->>
 */
 @media screen and (max-width: 700px) and (max-height: 370px) {
   /*
   Cover
   --------*/

   #show-techs {
     left: 5px;
   }

   #show-techs i {
     font-size: 18px;
   }

   /*#coverDescContainer {
     margin: auto;
     top: 60px;
     left: -20px;
     height: 130px;
     width: 300px;
   }*/

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 19px;
     margin-top: 0px;
   }

   #aboutMe p {
     font-size: 12px;
     margin-bottom: 20px;
   }

   #aboutMe {
     padding-top: 160px;
   }

   /*
   Projects
   =========*/

   #swap {
     top: 240px;
   }

   #buttons {
     padding-top: 10px;
     padding-bottom: 10px;
     height: 150px;
   }

   #map {
     margin-bottom: 20px;
   }
 }



 /*
 Width-- 500 => 610px, Portrait-Height 900px++
 _____________________________________________
 Focus Nexus 7 Portrait ?
 =============================================---->>
 */
 @media screen and (max-width: 610px) and (min-height: 900px) {
   #meBrand {
     position: relative;
     margin-left: 10px;
     font-size: 85px;
     float: left;
   }

   #navbar {
     background-color: #191a1a;
     float: none;
   }

   .naviBar_Mobile {
     border-radius: 5px;
   }

   #show-techs i {
     font-size: 15px;
   }

   .cover-head {
     font-size: 36px;
   }
   /*#coverDesc {
     font-size: 28px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 380px;
   }*/

   #aboutMe h2 {
     font-size: 30px;
   }

   #aboutMe p {
     font-size: 20px;
   }

   #aboutMeContainer {
     position: relative;
     top: -10px;
   }

   #cubeFolio {
     background-repeat: repeat-y;
   }

   /*
   Carousel Adjustments*/

   .item-inner {
     top: 95px;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 290px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 290px;
   }

   .caption h2 {
     font-size: 40px;
   }

   .caption {
     font-size: 33px;
   }

   .carousel-indicators {
     margin-bottom: 30px;
   }

   /*
   Map and Contact Adjustments*/

   #map {
     padding-bottom: 80px;
   }

   .buttons {
     width: 20px;
   }

   #buttons div a {
     font-size: 21px;
     margin-right: 7px;
   }

   #footer {
     padding-bottom: 15px;
   }
 }

 /*
 Width-- 500 => 610px, Portrait-Height 899px--
 _____________________________________________
 Focus Kindle Fire HD 7 Portrait
 =============================================------>>
 */
 @media screen and (max-width: 610px) and (max-height: 899px) {
   /*
   Cover
   ------*/

   #meBrand {
     position: relative;
     margin-left: 10px;
     font-size: 85px;
     float: left;
   }

   #navbar {
     background-color: #191a1a;
     float: none;
   }

   .naviBar_Mobile {
     border-radius: 5px;
   }

   #efLogo {
     left: 140px;
   }

   #show-techs i {
     font-size: 11px;
   }

   /*.cover-head {
     font-size: 36px;
   }*/
   /*#coverDesc {
     font-size: 28px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 380px;
   }*/

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 32px;
     margin-top: 20px;
   }

   #aboutMe p {
     font-size: 20px;
     margin-bottom: 0px;
   }

   #aboutMeContainer {
     position: relative;
     top: 0px;
   }

   /*
   Carousel Adjustments*/

   .item-inner {
     top: 80px;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 290px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 290px;
   }

   .caption h2 {
     font-size: 30px;
   }

   .caption {
     font-size: 30px;
   }

   .carousel-indicators {
     margin-bottom: 30px;
   }

   /*
   Map and Contact Adjustments*/

   #map {
     margin-bottom: 0px;
   }

   .buttons {
     width: 20px;
   }

   #buttons div a {
     font-size: 21px;
     margin-right: 7px;
   }

   #footer {
     padding-bottom: px;
   }
 }

 /*
 Width-- 500 => 610px, Portrait-Height 810px--
 _____________________________________________
 Focus Kindle Fire Portrait
 =============================================------->>
 */
 @media screen and (max-width: 610px) and (max-height: 810px) {
   /*
   Cover
   ------*/
   #meBrand {
     position: relative;
     margin-left: 10px;
     font-size: 85px;
     float: left;
   }

   #navbar {
     background-color: #191a1a;
     /*top: 0;*/
     float: none;
   }

   .naviBar_Mobile {
     border-radius: 5px;
   }

   #efLogo {
     top: 280px;
     left: 170px;
   }

   #show-techs i {
     font-size: 15px;
   }

   #scrollIndicator {
     top: 65%;
   }

   /*.cover-head {
     font-size: 36px;
   }*/
   /*#coverDesc {
     font-size: 28px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     margin: auto;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 380px;
   }*/

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 32px;
   }

   #aboutMe p {
     font-size: 21px;
   }

   #aboutMeContainer {
     top: -10px;
   }

   /*
   Carousel Adjustments*/

   .item-inner {
     top: 70px;
   }

   .carousel-image {
     width: 95%;
   }

   #sideNav {
     width: 65%;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 290px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 290px;
   }

   .caption h2 {
     font-size: 32px;
   }

   .caption {
     font-size: 30px;
   }

   .carousel-indicators {
     margin-bottom: 0px;
   }

   /*
   Map and Contact Adjustments*/

   #map {
     margin-bottom: 65px;
   }

   .buttons {
     width: 20px;
   }

   #buttons div a {
     font-size: 21px;
     margin-right: 7px;
   }

   #footer {
     padding-bottom: 15px;
   }
 }


 /*
 Width-- 500 => 600px, Height- 400px--
 _____________________________________
 Focus iPhone 5, SE Landscape
 =====================================------>>
 */
 @media screen and (max-width: 600px) and (max-height: 400px) {
   /*
   Cover
   ------*/

   #meBrand {
      top: -20px;
      left: 105px;
     font-size: 49px;
   }

   #efLogo {
     top: -22px;
     left: -18px;
   }

   #coverDescContainer h1 {
     font-size: 11px;
     top: 60px;
     left: -37px;
   }

   #navbar {
     background-color: transparent;
   }

   #show-techs {
     left: 27px;
   }

   #show-techs i {
     font-size: 13px;
   }

   #scrollIndicator {
     top: 20%;
   }

   /*.cover-head {
     font-size: 28px;
   }*/

   /*#coverDesc {
     color: #f8e7da;
     font-size: 20px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     top: -95px;
     left: 10px;
     height: 130px;
     width: 300px;
   }*/

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 20px;
     margin-top: 0px;
   }

   #aboutMe p {
     margin-bottom: 5px;
     font-size: 11px;
   }

   #aboutMeContainer {
     position: relative;
     top: -75px;
   }

   /*
   Carousel
   ---------*/

   #swap {
     position: absolute;
     display: block;
     top: 213px;
     left: 50px;
     padding: 3px 14px;

   }

   #swap i {
     position: relative;
     top: 6px;
     left: 2px;
   }

   #sideNav {
     width: 33%;
   }

   .item-inner {
     top: 60px;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 130px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 130px;
   }

   .carousel-image {
     position: relative;
     top: 8px;
     width: 50%;
   }

   .caption {
     position: relative;
     top: -90px;
   }
   .caption h2 {
     margin-bottom: 0;
     font-size: 19px;
   }

   .caption p {
     margin-top: 0;
     font-size: 11px;
   }


   .github2 {
     height: 28px;
     width: 28px;
   }

   .www2 {
     font-size: 31px;
   }

   .see-code2 {
     font-size: 18px;
   }

   .visit-page2 {
     font-size: 18px;
   }

   .site-link2 {
     /*border: 1px solid #fff;*/
     padding-top: 5px;
     padding-bottom: 2px;
     padding-left: 13px;
   }

   .github-link2 {
     /*border: 1px solid #fff;*/
     padding-top: 7px;
     padding-bottom: 0px;
     padding-right: 5px;
   }

   .carousel-indicators {
     bottom: -20px;
   }


   /*
   Map, Contact
   -------------*/

   #map {
     margin-bottom: 85px;
   }

   .buttons {
     width: 40px;
   }

   #buttons {
     padding: 20px 0px 60px 0px;
     margin-bottom: 0;
     height: 150px;
   }

   #buttons div a {
     font-size: 21px;
     margin-right: 7px;
   }

   #footer {
     top: 240px;
     left: 200px;
   }


 }


 /*
 Width-- 400 => 500px, Height-- 800px--
 ______________________________________
 Focus iPhone 6 Plus Portrait
 ======================================------>>
 */
 @media screen and (max-width: 500px) and (max-height: 800px) {
   /*
   Cover
   _______*/

   #efLogo {
     left: 90px;
     top: 220px;
   }

   #show-techs i {
     font-size: 24px;
     left: 0px;
   }

   /*#coverDesc {
     font-size: 30px;
     margin-bottom: 20px;
     color: #f8e7da;
   }

   #coverDescContainer {
     margin: auto;
     position: absolute;
     top: -30px;
     left: 0;
     bottom: 0;
     right: 0;
     width: 380px;
   }*/

   #scrollIndicator {
     top: 57%;
   }

   /*
   Me
   ____*/

   #aboutMe h2 {
     font-size: 24px;
   }

   #aboutMe p {
     font-size: 16px;
   }

   #aboutMe {
     top: 30px;
   }

   /*
   Carousel Adjustments*/

   .item-inner {
     /*top: 70px;*/
   }

   .left > .glyphicon {
     top: 250px;
   }

   .right > .glyphicon {
     top: 250px;
   }

   .caption h2 {
     font-size: 24px;
   }

   .caption p {
    margin-bottom: 7px;
    font-size: 14px;
  }

   .carousel-indicators {
     margin-bottom: 0px;
   }

   /*
   Buttons Adustments*/

   .github2 {
     height: 36px;
     width: 36px;
   }

   .www2 {
     font-size: 39px;
   }

   .see-code2 {
     font-size: 22px;
   }

   .visit-page2 {
     font-size: 22px;
   }

   .site-link2 {
     /*border: 1px solid white;*/
     padding-top: 15px;
     padding-left: 25px;
   }

   .github-link2 {
     /*border: 1px solid white;*/
     padding-top: 17px;
     padding-right: 5px;
   }

   /*
   Contact Adjustments*/
   #map {
     padding-bottom: 125px;
   }

   #buttons {
     height: 280px;
     width: 100%;
     padding: 0;
   }



  #buttons div a {
    display: block;
    margin-bottom: 10px;
  }

   #buttonsContainer {
     position: absolute;
     margin: 0 auto;
     height: 100%;
     width: 130px;
     left: 0;
     right: 0;
     top: 10px;
     justify-content: center;
   }

   #footer {
     position: relative;
     width: 200px;
     margin: auto;
     bottom: 100px;
     padding-bottom: 0px;
     /*left: 120px;*/
     /*top: 560px;*/
   }

 }
 /*
 Width-- 400 => 500px, Height- 400px--
 _____________________________________
 Focus iPhone 4 Landscape
 =====================================------>>
 */
 @media screen and (max-width: 500px) and (max-height: 400px) {
   /*
   Cover
   ------*/

   #efLogo {
     top: -22px;
     left: -17px;
   }

   #coverDescContainer h1 {
     top: 65px;
   }

   /*#meBrand {
    top: 5px;
    font-size: 32px;
   }*/

   #naviBar li a {
    font-size: 24px;
   }

   #header {
     height: 45px;
   }

   #show-techs {
     left: 20px;
   }

   #show-techs i {
     font-size: 9px;
   }

   /*.cover-head {
     font-size: 25px;
   }*/

   /*#coverDesc {
     color: #f8e7da;
     font-size: 20px;
     margin-bottom: 20px;
   }

   #coverDescContainer {
     top: -70px;
     left: -60px;
     height: 130px;
     width: 300px;
   }*/

   #scrollIndicator {
     top: 17%;
   }

   /*
   Me
   ---*/

   #aboutMe h2 {
     font-size: 18px;
     margin-top: 10px;
   }

   #aboutMe p {
     font-size: 9px;
   }

   #aboutMe {
     top: 20px;
   }

   /*
   Carousel
   ---------*/

   #swap {
     position: absolute;
     display: block;
     top: 215px;
     left: 50px;
     padding: 3px 14px;

   }

   #swap i {
     position: relative;
     top: 6px;
     left: 2px;
   }

   .item-inner {
     top: 60px;
   }

   .caption h2 {
     font-size: 19px;
   }

   .caption p {
     font-size: 10px;
   }

   .caption {
     top: -74px;
   }

   .github2 {
     height: 28px;
     width: 28px;
   }

   .www2 {
     font-size: 31px;
   }

   .see-code2 {
     font-size: 18px;
   }

   .visit-page2 {
     font-size: 18px;
   }

   .site-link2 {
     /*border: 1px solid #fff;*/
     padding-top: 5px;
     padding-bottom: 2px;
     padding-left: 13px;
   }

   .github-link2 {
     /*border: 1px solid #fff;*/
     padding-top: 7px;
     padding-bottom: 0px;
     padding-right: 5px;
   }

   .left > .glyphicon {
     position: relative;
     left: -15px;
     top: 150px;
   }

   .right > .glyphicon {
     position: relative;
     right: -15px;
     top: 150px;
   }


   /*
   Map, Contact
   -------------*/

   /*#map {
     margin-bottom: 85px;
   }*/

   .buttons {
     width: 20px;
   }

   #buttons {
     padding-bottom: 60px;
     height: 80px;
   }

   #buttons div a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
  }

  #buttons div a i {
    font-size: 17px;
  }

   #buttonsContainer {
     position: absolute;
     margin: 0 auto;
     height: 60%;
     width: 430px;
     left: 0;
     right: 0;
     top: 10px;
     justify-content: center;
   }

   #footer {
     position: relative;
     top: 200px;
     left: 20px;
   }
 }


 /*
 Width-- 300 => 400px
 ____________________
 Focuse iPhone 6 Portrait
 ========================------>>
 */
 @media screen and (max-width: 400px) and (max-height: 700px) {
   /*
   Cover
   ______*/

   #meBrand {
     position: relative;
     right: 0;
     left: 20px;
     top: 118px;
     font-size: 52px;
   }

   #navbar {
     top: -100px;
   }

   #coverDescContainer h1 {
     font-size: 9px;
     top: 62px;
     left: -160px;
   }

   #efLogo {
     position: absolute;
     left: 115px;
   }

   #show-techs i {
     font-size: 20px;
   }

   /*.cover-head {
     font-size: 29px;
   }*/

   /*#coverDesc {
     font-size: 24px;
   }

   #coverDescContainer {
     position: relative;
     margin: auto;
     top: 160px;
     width: 380px;
   }*/

   /*
   Me
   ____*/

   #aboutMe {
     top: 30px;
   }

   #aboutMe h2 {
     font-size: 26px;
   }

   #aboutMe p {
     font-size: 14px;
   }

   /*
   Carousel
   ----------*/

   .item-inner {
     top: 95px;
   }

   .caption h2 {
     font-size: 19px;
   }

   .caption p {
     font-size: 13px;
   }

   .github2 {
     height: 29px;
     width: 29px;
   }

   .www2 {
     font-size: 32px;
   }

   .see-code2 {
     font-size: 21px;
   }

   .visit-page2 {
     font-size: 21px;
   }

   .site-link2 {
     padding-top: 7px;
     left: -1px;
   }

   .github-link2 {
     padding-top: 9px;
     left: -1px;
   }


   #map {
     margin-bottom: 0px;
   }

   #buttons {
     height: 280px;
     padding: 0;
   }

   .tact {
     width: 20px;
     display: block;
     /*margin-bottom: 25px;*/

   }

   #buttons div a {
     font-size: 21px;
   }

   #buttonsContainer {
     position: absolute;
     width: 130px;
     margin: auto;
     left: 0; right: 0;
     top: 15px;
   }

   #footer {
     position: relative;
     padding-top: 0px;
     padding-bottom: 30px;
     bottom: 70px;
     left: 0px;
   }
 }



 /*
 Width-- 300 => 400px
 _______________________
 Focus iPhone 5 Portrait
 =======================------>>
 */
 @media screen and (max-width: 400px) and (max-height: 600px) {
   /*
   Cover
   ------*/

   #meBrand {
     left: 5px;
     top: 40px;
     font-size: 43px;
   }

   #navbar {
     top: -100px;
   }

   #efLogo {
     left: 90px;
   }

   #show-techs i {
     font-size: 15px;
   }

   /*.cover-head {
     font-size: 30px;
   }*/

   /*#coverDesc {
     font-size: 24px;
     margin-bottom: 20px;
     color: #f8e7da;
   }

   #coverDescContainer {
     position: absolute;
     margin: auto;
     bottom: 430px;
     left: 0px;
     right: 0px;
     width: 300px;
   }*/

   #scrollIndicator {
     top: 45%;
   }

   /*
   Me
   ---*/

   #aboutMe {
     top: -5px;
   }

   #aboutMe h2 {
     font-size: 18px;
   }

   #aboutMe p {
     font-size: 11px;
   }



   /*
   Carousel
   ----------*/

   .caption h2 {
     font-size: 18px;
   }

   .caption p {
     font-size: 11px;
   }

   .github2 {
     position: relative;
     height: 25px;
     width: 25px;
     margin-right: 0;
     top: 1px;
   }

   .www2 {
     font-size: 27px;
   }

   .see-code2 {
     font-size: 18px;
     top: -3px;
   }

   .visit-page2 {
     font-size: 18px;
   }

   .site-link2 {
     /*border: 1px solid #fff;*/
     padding: 3px 3px 3px 8px;
     left: 7px;
   }

   .github-link2 {
     /*border: 1px solid #fff;*/
     padding: 3px 3px 3px 3px;
     bottom: 2px;

     left: -1px;
   }


   /*
   Contact, Map
   --------------*/

   #contactMeText {
     font-size: 50px;
   }

   #map {
     margin-bottom: 0px;
   }

   #buttons {
     padding: 0;
   }

   .tact {
     width: 20px;
     display: block;
     margin-bottom: 25px;

   }

   #buttons div a {
     font-size: 21px;
   }

   #buttonsContainer {
     position: absolute;
     width: 130px;
     margin: auto;
     left: 0; right: 0;
     top: 15px;
   }

   #footer {
     position: relative;
     padding-top: 0px;
     padding-bottom: 30px;
     bottom: 70px;
     left: 0px;
   }
 }


 /*
 Width-- 300 => 400px
 _______________________
 Focus iPhone 4 Portrait
 =======================----->>
 */
 @media screen and (max-width: 400px) and (max-height: 500px) {
   /*
   Cover
   ------*/

   #mobileMenu {
     top: 0px;
   }

   #efLogo {
     top: 170px;
   }

   #show-techs i {
     font-size: 16px;
   }

   /*.cover-head {
     font-size: 23px;
   }*/

   /*#coverDesc {
     font-size: 20px;
     margin-bottom: 20px;
     color: #f8e7da;
   }

   #coverDescContainer {
     position: absolute;
     margin:  auto;
     top: 160px;
     left: 0px;
     right: 0px;
     width: 300px;
   }*/

   /*#more {
     position: static;
     padding: 2px;
   }*/

   #scrollIndicator {
     top: 40%;
   }

   /*
   Me
   ----*/

   #aboutMe h2 {
     font-size: 18px;
   }

   #aboutMe p {
     font-size: 10px;
   }

   #aboutMe {
     position: relative;
     padding-top: 100px;
   }

   /*
   Carousel
   ---------*/

   .carousel-image {
     width: 75%;
   }

   .item-inner {
     top: 80px;
   }

   .caption h2 {
     font-size: 19px;
   }

   .caption p {
     font-size: 11px;
   }

   .carousel-indicators {
     bottom: -20px;
   }


   /*
   Contact, Map
   -------------*/

   #contact {
     padding-top: 40px;
     padding-bottom: 5px;
     height: 120px;
   }

   #map {
     margin-bottom: 45px;
   }

   #buttons {
     padding: 0;
   }

   .tact {
     width: 20px;
     display: block;
     margin-bottom: 25px;

   }

   #buttons div a {
     font-size: 21px;
   }

   #buttonsContainer {
     position: absolute;
     width: 120px;
     margin: auto;
     left: 0; right: 0;
     top: 15px;
   }

   #footer {
     position: relative;
     padding-top: 0px;
     padding-bottom: 0px;
     bottom: 40px;
     left: 0px;
   }
 }

 /*
 Width-- 200 => 300px ===------------------------------>>
 */
 @media screen and (max-width: 300px) {
   #meBrand {
     font-size: 40px;

   }
   #mainNav li a {
     font-size: 26px;
   }
   #show-techs i {
     font-size: 26;
   }
 }


 /*
 Width-- 0 => 200px ===------------------------------>>
 */
 @media screen and (max-width: 200px) {


   #meBrand {
     font-size: 32px;

   }

   #mainNav li a {
     font-size: 18px;
   }

   #show-techs i {
     font-size: 18;
   }
 }
